body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
  background-color: #d0e8f2;
}

h1 {
  margin: 100px auto 0 auto;
  font-family: 'Sacramento',cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color:  #66BFBF;
}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}

.top {
  background-color: #E4F9F5;
  height: 900px;
  position: relative;
  padding-top: 100px;
}


.box1 {
padding-top: 0;
}


.box2 {

}





.stu {
  text-decoration: underline;
}


.cloud1 {
  height: 130px;
  width: 290px;
  position: absolute;
  right: 300px;
  top: 50px;
}


.cloud2 {
  height: 100px;
  width: 300px;
  position:absolute;
  margin-left: 200px;
  margin-bottom: 300px;

}

.mountain {
  height: auto;
  width: auto;
position: relative;
bottom: 300px;
}
.dousel{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  padding-top: 0;
}
.facebook{
  height: 34px;
  width: 34px;
}
.instagram{
  height: 34px;
  width: 34px;
}
